.container {
    display: flex;
    justify-content: flex-end;
    background-color: antiquewhite;
    padding: 10px 25px 10px 25px;
}

.container div {
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    font-size: 14sp;
    color: purple;
    border: 2px solid;
    background-color: aliceblue;
}

.container div a {
    text-decoration: none;
    color: purple;
}

.logo {
    margin-right: auto; /*ini untuk bikin posisi logo tetap dikanan*/

}

.conten {
    flex-direction: row;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
}

.conten div {
    
    flex: 1;
    align-content: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 10px;
}


.form div {
    display: flex;
    flex-wrap: nowrap;
}

.formisian {
    flex-direction: column;
    display: flex;
}

.formisian > div {
    display: flex;

}
.nama {
    flex-direction: row;
    
}

.jenis {
    flex-direction: row;
    
    
}
.jenis div {
    display: flex;
    justify-content: space-around;
}



table {
    text-align: center;
}

th {
    background-color: antiquewhite;
    padding: 10px;
}

tr td {
    background-color: aliceblue;
    padding: 10px;
}

.footer {
    text-align: right;
    background-color: antiquewhite;
    padding: 10px;
}

div {
    display: block;
}